@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Ocurrió un error inesperado
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>
