@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1>Error</h1>
<p>Ocurrió un error mientras se iniciaba la aplicación</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }

    protected override void OnInitialized() => RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
